*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(120,120,121,1) 0%, rgba(136,136,136,1) 100%);
    border-radius: 10px;
}

.cards {
    width: 600px;
    height: 170px;
}
@media only screen and (max-width: 908px) {
    .cards {
        width: 600px;
        height: 190px;
    }
}
@media only screen and (max-width: 836px) {
    .cards {
        width: 600px;
        height: 220px;
    }
}
@media only screen and (max-width: 767px) {
    .cards {
        width: 600px;
        height: 170px;
    }
}
@media only screen and (max-width: 639px) {
    .cards {
        width: 600px;
        height: 125px;
    }
}
@media only screen and (max-width: 591px) {
    .cards {
        width: 600px;
        height: 135px;
    }
}
@media only screen and (max-width: 574px) {
    .cards {
        width: 600px;
        height: 170px;
    }
}
@media only screen and (max-width: 422px) {
    .cards {
        width: 600px;
        height: 195px;
    }
}
@media only screen and (max-width: 386px) {
    .cards {
        width: 600px;
        height: 225px;
    }
}